.exchangeForm__dataInput{
    padding: 16px;
    background: #F4F4F4;
    color: #615355;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 17px -7px #615355;
    position: relative;
}