.exchangeForm__convertedLabel{
    text-align: center;
    font-size:min(max(6.10vw, 16px), 20px);
}

.exchangeForm__convertedAmount{
    width: 120px;
    height: 50px;
    font-size: 22px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #000;  
    margin-left: 5px; 
}

.exchangeForm__convertedAmount::placeholder{
    font-size: 14px;
}