.exchangeForm{
    max-width: 630px;
    width: 100%;
    margin: 25px auto 0;
  }
  
  @media screen and (max-width: 450px) {
    .exchangeForm{
        flex-direction: column;
    }
  }
  
  .exchangeForm__legend{
    padding: 8px;
    border: none;
    border-radius: 10px;
    background: #DEDEDC;
    box-shadow: 0px 0px 10px -4px;
    color:#615355;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: min(max(4.26vw, 13px), 16px);
  }
  
  @media screen and (max-width: 599px) {
    .exchangeForm__legend{
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        top: 45px;
        text-align: center;
    }
  }
  
  .exchangeForm__arrow{
    width: 40px;
    margin: 0 20px;
  }
  
  @media screen and (max-width: 450px) {
    .exchangeForm__arrow{
        display: none;
    }
  }
  
.exchangeForm__itemSet{
    min-height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 450px) {
    .exchangeForm__itemSet{
        min-height: 255px;
    }
}

.exchangeForm__form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

@media screen and (max-width: 450px) {
    .exchangeForm__form{
        flex-direction: column;
        margin-top: 60px;
    }
}