.exchangeCalculator{
  width: 100%;
  max-width: 1000px;
}

.exchangeCalculator__title{
  max-width: 630px;
  width: 100%;
  text-align: center;
  padding: 5px;
  margin: 0 auto 25px;
  font-size: min(max(10.52vw, 28px), 32px);
  border-radius: 10px;
  background: #ffffff63;
  backdrop-filter: blur(5px);
}