html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body{
  background-image: url(./picture/background-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}