.exchangeForm__buttonSubmit{
    width: 150px;
    padding: 15px 10px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #615355;
    border: none;
    color: #DEDEDC;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.exchangeForm__buttonReset{
    width: fit-content;
    display: block;
    background: #61535582;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 10px;
    color: #DEDEDC;
    text-decoration: underline;
    cursor: pointer;
}

.exchangeForm__buttonReset:hover{
    color: hsl(60, 3%, 77%);
}