.exchangeForm__buttonSubmit{
    width: 150px;
    padding: 15px 10px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    background: #615355;
    border: none;
    color: #DEDEDC;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease-in, color .3s ease-in;
}

.exchangeForm__buttonSubmit:hover{
    background: hsl(351, 8%, 55%);
    color: hsl(60, 3%, 67%);
}

.exchangeForm__buttonReset{
    width: fit-content;
    display: block;
    background: #61535582;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 10px;
    color: #DEDEDC;
    text-decoration: underline;
    cursor: pointer;
    transition: color .3s ease-in;
}

.exchangeForm__buttonReset:hover{
    color: hsl(60, 3%, 77%);
}